/*Global*/
:root {
  --bg: #282C33;
  --color: #ABB2BF;
}

:root[theme=white] {
  --bg: #fff;
  --color: #282C33;
  --logo: ;
}

body {
  margin: 0;
  font-family: "Fira Code", monospace;
  background: var(--bg);
  color: var(--color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-main {
  padding: 0 35px;
}

:root {
  --card-btn-gray-color: #ABB2BF;
}

:root[theme=white] {
  --card-btn-gray-color: #282C33;
}

.btn_card-primary {
  border-radius: 3px;
  border: 1px solid #C778DD;
  padding: 5px 10px;
  background: transparent;
  color: #C778DD;
  font-family: inherit;
}
.btn_card-primary:active {
  color: #ABB2BF;
  background: rgba(199, 120, 221, 0.14);
}
.btn_card-primary_play {
  border-radius: 3px;
  border: 1px solid #C778DD;
  padding: 5px 10px;
  background: transparent;
  color: #C778DD;
  font-family: inherit;
  background: url(../images/Play-primary.svg) center right no-repeat;
  padding: 10px 40px 10px 10px;
}
.btn_card-primary_play:active {
  color: #ABB2BF;
  background: rgba(199, 120, 221, 0.14) url(../images/Play.svg) center right no-repeat;
}
.btn_card-gray {
  border-radius: 3px;
  border: 1px solid #ABB2BF;
  padding: 5px 10px;
  background: transparent;
  color: var(--card-btn-gray-color);
  font-family: inherit;
}
.btn_card-gray:active {
  color: #C778DD;
  background: rgba(255, 255, 255, 0.15);
}
.btn_card-gray_play {
  border-radius: 3px;
  border: 1px solid #ABB2BF;
  padding: 5px 10px;
  background: transparent;
  color: var(--card-btn-gray-color);
  font-family: inherit;
  background: url(../images/Play.svg) center right no-repeat;
  padding: 10px 40px 10px 10px;
}
.btn_card-gray_play:active {
  color: #C778DD;
  background: rgba(255, 255, 255, 0.15) url(../images/Play-primary.svg) center right no-repeat;
}
.btn_toggle {
  padding: 20px;
  background: transparent;
  border: none;
  display: none;
  gap: 4px;
  flex-direction: column;
  align-items: end;
}
@media screen and (max-width: 431px) {
  .btn_toggle {
    display: flex;
  }
}
.btn_toggle:active:before {
  background: #FFFFFF;
}
.btn_toggle:active:after {
  background: #ABB2BF;
}
.btn_toggle:before {
  content: "";
  width: 24px;
  height: 2px;
  background: #D9D9D9;
  display: block;
}
.btn_toggle:after {
  content: "";
  width: 15px;
  height: 2px;
  background: #D9D9D9;
  display: block;
}
.btn_toggle_close {
  position: relative;
}
.btn_toggle_close:active:before {
  background: #FFFFFF;
}
.btn_toggle_close:active:after {
  background: #ABB2BF;
}
.btn_toggle_close:before {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 24px;
  transform: translate(-50%) rotate(45deg);
}
.btn_toggle_close:after {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 24px;
  transform: translate(-50%) rotate(-45deg);
}

/*Blocks*/
.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 20px;
  padding: 32px 0 0;
  margin-bottom: 50px;
}
@media screen and (max-width: 1130px) {
  .header {
    padding: 20px 20px 0;
  }
}
@media screen and (max-width: 431px) {
  .header {
    flex-direction: column;
  }
}
.header__toggle {
  position: absolute;
  right: 0;
}
.header__social {
  position: absolute;
  top: 0;
}
@media screen and (min-width: 1300px) {
  .header__social {
    left: -10%;
  }
}
@media screen and (max-width: 1300px) and (min-width: 1130px) {
  .header__social {
    left: -3.5%;
  }
}
@media screen and (max-width: 1130px) {
  .header__social {
    left: -1px;
  }
}
@media screen and (max-width: 431px) {
  .header__social {
    position: static;
  }
}
@media screen and (max-width: 431px) {
  .header .hidden {
    height: 0;
  }
}
.header .transform {
  overflow: hidden;
  transition: height 2s;
}

.footer {
  margin: 500px 0 0;
  border-top: 1px solid #ABB2BF;
  padding: 32px 0;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .footer__top {
    flex-direction: column;
    text-align: center;
  }
}
.footer__info p {
  color: #FFFFFF;
}
.footer__mail {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer__mail__link {
  color: inherit;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  .footer__mail {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.footer__links p {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 500;
  margin-top: 0;
}
.footer__links ul {
  flex-direction: row;
}
.footer__links ul:before {
  display: none;
}
.footer__bottom p {
  text-align: center;
}

/*Components*/
:root {
  --logo-color: #FFFFFF;
  --logo-bg: url("../images/Logo-Default.svg") no-repeat center / 100%;
}

:root[theme=white] {
  --logo-color: #282C33;
  --logo-bg: url("../images/Logo-Primary.svg") no-repeat center / 100%;
}

.logo {
  color: var(--logo-color);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}
.logo:before {
  content: "";
  background: var(--logo-bg);
  width: 16px;
  height: 16px;
  display: inline;
  margin-right: 10px;
}

:root {
  --nav-color: #ABB2BF;
  --nav-color-active: #fff;
  --icon-toggle: url(../images/white-mode.svg) no-repeat center / 100%;
}

:root[theme=white] {
  --nav-color:#282C33;
  --nav-color-active: #21427a;
  --icon-toggle: url(../images/dark-mode.svg) no-repeat center / 100%;
}

.navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
@media screen and (max-width: 431px) {
  .navigation__list {
    flex-direction: column;
    align-items: start;
    gap: 15px;
    font-size: 32px;
  }
}
.navigation__item {
  display: flex;
}
.navigation__item:before {
  content: "#";
  display: inline-block;
  color: #C778DD;
}
.navigation__item:hover:before {
  color: #daa0ea;
}
.navigation__item:hover .navigation__link {
  color: #c3c8d2;
}
.navigation__item:hover .active {
  color: #FFFFFF;
}
.navigation__item:last-child:before {
  content: none;
}
.navigation__link {
  text-decoration: none;
  color: var(--nav-color);
}
.navigation__link.active {
  color: var(--nav-color-active);
  font-weight: 500;
}
.navigation__button {
  background: var(--icon-toggle);
  padding: 11px;
  border: none;
}

:root {
  --fill: #c3c8d2;
  --linkColor: rgb(171, 178, 191);
}

:root[theme=white] {
  --fill: #daa0ea;
  --linkColor: #282C33;
}

.socialLink {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 431px) {
  .socialLink {
    flex-direction: row;
    justify-content: center;
  }
}
.socialLink:before {
  content: "";
  display: block;
  height: 191px;
  width: 1px;
  background: #ABB2BF;
}
@media screen and (max-width: 431px) {
  .socialLink:before {
    display: none;
  }
}
.socialLink__link {
  text-decoration: none;
}
@media screen and (max-width: 431px) {
  .socialLink__icon_Discord {
    width: 64px;
    height: 64px;
  }
}
.socialLink__icon_Discord path {
  fill: var(--linkColor);
}
.socialLink__icon_Discord:hover path {
  fill: var(--fill);
}
.socialLink__link:active .socialLink__icon_Discord path {
  fill: #FFFFFF;
}
@media screen and (max-width: 431px) {
  .socialLink__icon_Github {
    width: 64px;
    height: 64px;
  }
}
.socialLink__icon_Github path {
  fill: var(--linkColor);
}
.socialLink__icon_Github:hover path {
  fill: var(--fill);
}
.socialLink__link:active .socialLink__icon_Github path {
  fill: #FFFFFF;
}
@media screen and (max-width: 431px) {
  .socialLink__icon_Linkedin {
    width: 64px;
    height: 64px;
  }
}
.socialLink__icon_Linkedin path {
  fill: var(--linkColor);
}
.socialLink__icon_Linkedin:hover path {
  fill: var(--fill);
}
.socialLink__link:active .socialLink__icon_Linkedin path {
  fill: #FFFFFF;
}
@media screen and (max-width: 431px) {
  .socialLink__icon_Telegram {
    width: 64px;
    height: 64px;
  }
}
.socialLink__icon_Telegram path {
  fill: var(--linkColor);
}
.socialLink__icon_Telegram:hover path {
  fill: var(--fill);
}
.socialLink__link:active .socialLink__icon_Telegram path {
  fill: #FFFFFF;
}

.card {
  border: 1px solid #ABB2BF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: calc(50% - 21px);
}
.card__image {
  width: 100%;
}
.card__image img {
  width: 100%;
  height: 100%;
  display: block;
}
.card__title {
  border-top: 1px solid #ABB2BF;
  border-bottom: 1px solid #ABB2BF;
  margin: 0;
  padding: 20px;
}
@media screen and (max-width: 431px) {
  .card__title {
    padding: 10px;
  }
}
.card__description {
  flex-grow: 2;
  padding: 20px;
}
@media screen and (max-width: 431px) {
  .card__description {
    padding: 7px;
  }
}
.card__buttons {
  padding: 20px;
}
@media screen and (max-width: 431px) {
  .card__buttons {
    padding: 7px;
  }
}

.cardContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
  .cardContainer * {
    flex-basis: 100%;
  }
}

.aboutBanner {
  display: flex;
  flex-basis: 50%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 20px;
}
@media screen and (max-width: 600px) {
  .aboutBanner {
    display: block;
  }
}
.aboutBanner::after {
  content: url(../images/Dots.svg);
  position: absolute;
  top: 5px;
  right: 4px;
}
@media screen and (max-width: 600px) {
  .aboutBanner::after {
    display: none;
  }
}
.aboutBanner__info {
  max-width: 700px;
}
.aboutBanner__photo {
  width: 50%;
  position: relative;
}
.aboutBanner__photo::before {
  content: url(../images/Style-Outline.svg);
  position: absolute;
  top: 5px;
  left: 4px;
}
@media screen and (max-width: 600px) {
  .aboutBanner__photo::before {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 25px;
  }
}
.title__inner {
  font-size: inherit;
  color: #C778DD;
}
.title__slogan {
  padding: 0 0 0 20px;
}
.title__slogan::before {
  content: "#";
  margin-right: 5px;
  color: #C778DD;
}
.title_block-name {
  display: flex;
}
.title_block-name::before {
  content: "#";
  color: #C778DD;
  margin-right: 15px;
}
.title_block-name::after {
  content: "";
  display: block;
  align-self: center;
  width: 400px;
  height: 1px;
  margin-left: 20px;
  background: #C778DD;
}
@media screen and (max-width: 600px) {
  .title_block-name::after {
    display: none;
  }
}

.modal {
  max-width: 40vmax;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bg);
  border-radius: 15px;
  border: 1px solid var(--color);
  padding: 10px;
  z-index: 2;
}

.modal-layer {
  backdrop-filter: blur(10px);
  width: 100vmax;
  min-height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
}

/*# sourceMappingURL=style.css.map */
